In [1]:
import pandas as pd

In [32]:
path_to_file = r'C:\Users\PC\Desktop\Софт\Simulation\Simulation\data\2_taxi_nyc.csv'

In [33]:
taxi = pd.read_csv(path_to_file, encoding='Windows-1251', sep=',')

In [ ]:
taxi

In [ ]:
taxi.shape

In [ ]:
rows, cols = taxi.shape
print(f'{rows = }, {cols = }')

In [ ]:
taxi.dtypes

In [39]:
taxi = taxi.rename(columns={'pcp 01': 'pcp_01', 'pcp 06': 'pcp_06', 'pcp 24': 'pcp_24'})

In [ ]:
taxi['borough'].value_counts()

In [65]:
taxi.pickups.sum()

np.int64(14265773)

In [71]:
taxi.groupby('borough').agg({'pickups': 'sum'})

                pickups
borough
Bronx            220047
Brooklyn        2321035
EWR                 105
Manhattan      10367841
Queens          1343528
Staten Island      6957

In [ ]:
taxi.groupby('borough').pickups.sum().sort_values(ascending=False)

In [69]:
min_pickups = taxi.groupby('borough').pickups.sum().idxmin()

In [ ]:
taxi.groupby(['borough', 'hday']).pickups.mean()

In [101]:
pickups_by_mon_bor = taxi.groupby(['pickup_month', 'borough'], as_index=False).agg({'pickups': 'sum'}).sort_values('pickups', ascending=False)

In [ ]:
pickups_by_mon_bor

In [ ]:
def temp_to_celcius(series):
    return (series - 23) * 5 / 9

In [ ]:
temp_to_celcius(taxi.temp)

In [ ]:
taxi.temp