В переменной df находится датафрэйм. Запишите в переменную  df_shape строку с информацией о том, сколько строк и столбцов он содержит, в следующем виде:
'df has y rows and x columns'
где y — число строк, а x — число колонок.

In [ ]:
rows, cols = taxi.shape
df_shape = f'df has {rows} rows, and {cols} columns'

Сохраните в переменную na_number серию, в которой для каждой колонки будет указано, сколько пропущенных значений она содержит. Например, для такого датафрейма:

In [ ]:
na_number = df.isna().sum()

Сохраните в переменную df_types типы данных каждой колонки датафрэйма df.

In [ ]:
df_types = df.info()

Внезапно оказалось, что в колонке age значения хранятся в виде строк! Поменяйте тип значений на целочисленный в этой колонке датафрэйма df.

In [ ]:
df = df.astype({'age': 'int'})

In [ ]:
df.age = df.age.astepe(int)

Как выяснилось, для дальнейшего анализа нам не понадобятся колонки sex и age – удалите их из датафрэйма.

In [ ]:
df = df.drop(['sex', 'age'], axis=1)

А теперь проверим, есть ли в нашей таблице df дубликаты по полю client_id. Сохраните в переменную df датафрейм, в котором не будет дубликатов по колонке client_id, оставив первую строку с id

In [ ]:
df = df.drop_duplicates(subset=['client_id'], keep='first')

В списке numbers содержатся числа. Добавьте через цикл в список positive_numbers положительные числа из numbers. Если вам попался 0, то нужно прекратить этот цикл.
Например,  
numbers = [1, -2, 3, 0, -3, 2]  
Тогда positive_numbers должен быть:  
positive_numbers = [1, 3]  
Hint: список numbers  уже создан.

In [2]:
numbers = [1, -2, 3, 0, -3, 2]
positive_numbers = []
for i in numbers:
    if i == 0:
        break
    if i > 0:
        positive_numbers.append(i)
print(positive_numbers)

[1, 3]

Продолжим анализ данных по поездкам на такси из Перу. В предыдущем уроке вы изучили распределения оценок водителей и клиентов. Теперь посмотрим на колонки со временем!  
Ссылка на датасет находится в переменной path_to_file. Сохраните данные в переменную taxi, разделитель — ;.  
Затем приведите столбцы start_at, end_at, arrived_at к формату даты, используя pd.to_datetime(). Отфильтруйте данные и оставьте наблюдения со статусом заказа "asap" и "reserved" (start_type) .

In [3]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
taxi = pd.read_csv(r'C:\Users\PC\Desktop\Софт\Simulation\Simulation\data\3_taxi_peru.csv', parse_dates=['start_at', 'end_at', 'arrived_at'], encoding='windows-1251', sep=';')

In [22]:
taxi.head()

,journey_id,user_id,driver_id,taxi_id,icon,start_type,start_at,start_lat,start_lon,end_at,...,end_lon,end_state,driver_start_lat,driver_start_lon,arrived_at,source,driver_score,rider_score,wait_tame,wait_time
0,23a1406fc6a11d866e3c82f22eed4d4c,0e9af5bbf1edfe591b54ecdfd7e91e26,583949a89a9ee17d19e3ca4f137b6b4c,b12f4f09c783e29fe0d0ea624530db56,executive,asap,2010-11-16 16:44:00,"-12,13983536","-77,02355957",2010-11-16 17:29:00,...,"-77,0413208",drop off,"-12,10825481","-77,0272739",2010-11-16 17:02:00,iPhone,5.0,5.0,0 days 00:18:00,18.0
1,dd2af4715d0dc16eded53afc0e243577,a553c46e3a22fb9c326aeb3d72b3334e,NaN,NaN,executive,asap,2010-06-01 00:34:00,"-12,13874817","-76,99536133",2010-06-01 00:37:00,...,"-77,02886963",not found,NaN,NaN,NaT,iPhone,NaN,NaN,NaT,NaN
2,dd91e131888064bf7df3ce08f3d4b4ad,a553c46e3a22fb9c326aeb3d72b3334e,NaN,NaN,executive,asap,2010-05-31 05:01:00,"-12,12453079","-77,02780151",2010-05-31 05:04:00,...,"-76,99530029",not found,NaN,NaN,NaT,iPhone,NaN,NaN,NaT,NaN
3,dd2af4715d0dc16eded53afc0e2466d0,a553c46e3a22fb9c326aeb3d72b3334e,NaN,NaN,executive,asap,2010-06-01 00:29:00,"-12,13885117","-76,99530029",2010-06-01 00:32:00,...,"-77,02896118",not found,NaN,NaN,NaT,iPhone,NaN,NaN,NaT,NaN
4,85b7eabcf5d84e42dc7629b7d27781af,56772d544fdfa589a020a1ff894a86f7,d665fb9f75ef5d9cd0fd89479380ba78,0accdd3aa5a322f4129fa20b53278c69,executive,reserved,2010-09-11 23:55:00,"-12,08995438","-76,92626953",2010-09-12 01:07:00,...,"-77,10638428",drop off,"-12,08311558","-76,9277072",2010-09-11 23:50:00,iPhone,4.0,5.0,-1 days +23:55:00,-5.0

In [ ]:
# for col in ['start_at', 'end_at', 'arrived_at']:
    # taxi[col] = pd.to_datetime(taxi[col])

In [ ]:
# taxi.loc[(taxi.start_type == 'asap')|(taxi.start_type == 'reserved')]

In [ ]:
taxi = taxi.loc[taxi.start_type.isin(['asap', 'reversed'])]

Создайте колонку wait_time, в которой будет храниться разница между временем подачи машины (arrived_at) и временем заказа (start_at) в минутах.

In [ ]:
# taxi['wait_tame'] = (taxi['arrived_at'] - taxi['start_at']).astype('timedelta64[m]')

In [17]:
taxi['wait_time'] = (taxi['arrived_at'] - taxi['start_at']).dt.total_seconds() / 60

Посмотрим, какие водители опаздывали на заказы к определенному времени (start_type == 'reserved'). Опозданием считается время ожидания wait_time > 0.0.
Сгруппируйте отфильтрованные данные по driver_id и в качестве ответа укажите id водителя, который опоздал на заказ интересующего нас типа наибольшее число раз

In [40]:
taxi.loc[(taxi.start_type == 'reserved')&(taxi.wait_time > 0.0)]\
    .groupby('driver_id')\
    .agg({'wait_time': 'count'})\
    .idxmax()

wait_time    406921adcca37705ef527b4246c0cfea
dtype: object