In [1]:
import pandas as pd

In [2]:
path_to_file = r'F:\!PR\Simulation\data\2_taxi_nyc.csv'

In [ ]:
path_to_file = r'C:\Users\PC\Desktop\Софт\Simulation\Simulation\data\2_taxi_nyc.csv'

In [3]:
taxi = pd.read_csv(path_to_file, encoding='Windows-1251', sep=',')

In [13]:
taxi

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29096,2015-06-30 23:00:00,Jun,EWR,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29097,2015-06-30 23:00:00,Jun,Manhattan,3828,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29098,2015-06-30 23:00:00,Jun,Queens,580,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29099,2015-06-30 23:00:00,Jun,Staten Island,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29100,2015-06-30 23:00:00,Jun,NaN,3,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0

In [8]:
taxi.shape

(29101, 14)

In [9]:
rows, cols = taxi.shape
print(f'{rows = }, {cols = }')

rows = 29101, cols = 14

In [10]:
taxi.dtypes

pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp 01          float64
pcp 06          float64
pcp 24          float64
sd              float64
dtype: object

In [11]:
taxi = taxi.rename(columns={'pcp 01': 'pcp_01', 'pcp 06': 'pcp_06', 'pcp 24': 'pcp_24'})

In [12]:
taxi['borough'].value_counts()

borough
Bronx            4343
Brooklyn         4343
EWR              4343
Manhattan        4343
Queens           4343
Staten Island    4343
Name: count, dtype: int64

In [14]:
taxi.pickups.sum()

np.int64(14265773)

In [15]:
taxi.groupby('borough').agg({'pickups': 'sum'})

                pickups
borough
Bronx            220047
Brooklyn        2321035
EWR                 105
Manhattan      10367841
Queens          1343528
Staten Island      6957

In [16]:
taxi.groupby('borough').pickups.sum().sort_values(ascending=False)

borough
Manhattan        10367841
Brooklyn          2321035
Queens            1343528
Bronx              220047
Staten Island        6957
EWR                   105
Name: pickups, dtype: int64

In [24]:
min_pickups = taxi.groupby('borough').pickups.sum().idxmin()

In [25]:
min_pickups

'EWR'

In [18]:
taxi.groupby(['borough', 'hday']).pickups.mean()

borough        hday
Bronx          N         50.771073
               Y         48.065868
Brooklyn       N        534.727969
               Y        527.011976
EWR            N          0.023467
               Y          0.041916
Manhattan      N       2401.302921
               Y       2035.928144
Queens         N        308.899904
               Y        320.730539
Staten Island  N          1.606082
               Y          1.497006
Name: pickups, dtype: float64

In [19]:
pickups_by_mon_bor = taxi.groupby(['pickup_month', 'borough'], as_index=False).agg({'pickups': 'sum'}).sort_values('pickups', ascending=False)

In [20]:
pickups_by_mon_bor

   pickup_month        borough  pickups
21          Jun      Manhattan  1995388
33          May      Manhattan  1888800
9           Feb      Manhattan  1718571
27          Mar      Manhattan  1661261
3           Apr      Manhattan  1648278
15          Jan      Manhattan  1455543
19          Jun       Brooklyn   482466
31          May       Brooklyn   476087
1           Apr       Brooklyn   378095
25          Mar       Brooklyn   346726
7           Feb       Brooklyn   328650
13          Jan       Brooklyn   309011
22          Jun         Queens   286311
34          May         Queens   275893
28          Mar         Queens   219561
4           Apr         Queens   216857
10          Feb         Queens   185695
16          Jan         Queens   159211
30          May          Bronx    53037
18          Jun          Bronx    49006
0           Apr          Bronx    34617
24          Mar          Bronx    32232
6           Feb          Bronx    28694
12          Jan          Bronx    22461
23          Jun  Staten Island     1673
35          May  Staten Island     1517
5           Apr  Staten Island     1068
29          Mar  Staten Island      975
11          Feb  Staten Island      903
17          Jan  Staten Island      821
20          Jun            EWR       29
32          May            EWR       27
26          Mar            EWR       14
8           Feb            EWR       14
14          Jan            EWR       11
2           Apr            EWR       10

In [21]:
def temp_to_celcius(series):
    return (series - 23) * 5 / 9

In [22]:
temp_to_celcius(taxi.temp)

0         3.888889
1         3.888889
2         3.888889
3         3.888889
4         3.888889
           ...
29096    28.888889
29097    28.888889
29098    28.888889
29099    28.888889
29100    28.888889
Name: temp, Length: 29101, dtype: float64

In [23]:
taxi.temp

0        30.0
1        30.0
2        30.0
3        30.0
4        30.0
         ...
29096    75.0
29097    75.0
29098    75.0
29099    75.0
29100    75.0
Name: temp, Length: 29101, dtype: float64