Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

In [3]:
import pandas as pd

In [4]:
path_to_file = r'F:\!PR\Simulation\data\bookings.csv'

In [5]:
bookings = pd.read_csv(path_to_file, encoding='Windows-1251', sep=';')

In [12]:
bookings.head(7)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

Посмотрите на размеры таблицы. Сколько всего в ней столбцов?

In [8]:
rows, cols = bookings.shape
print(f'{rows = }, {cols = }')

rows = 119390, cols = 21

К какому типу/каким типам относится большинство переменных?

In [ ]:
bookings.dtypes

In [ ]:
bookings.info()

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания.

In [10]:
bookings.columns = [col.lower().replace(' ', '_') for col in bookings.columns]

Перейдем к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

In [ ]:
bookings.query('is_canceled == 0') \
    .groupby(['country']) \
    .agg({'is_canceled': 'count'}) \
    .sort_values('is_canceled', ascending=False) \
    .head()

In [ ]:
bookings.loc[bookings.arrival_date_year == 2016] \
    .country \
    .value_counts() \
    .head()

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: count, dtype: int64

На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

In [ ]:
bookings.loc[bookings.hotel.isin(['Resort Hotel', 'City Hotel'])] \
    .groupby('hotel') \
    .stays_total_nights \
    .mean() \
    .round(2)

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [18]:
len(bookings.loc[bookings.assigned_room_type != bookings.reserved_room_type])

14917

Теперь проанализируйте даты запланированного прибытия (arrival_date_year). На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [26]:
bookings.loc[bookings.arrival_date_year == 2016] \
    .arrival_date_month \
    .value_counts() \
    .idxmax()

'October'

In [27]:
bookings.groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object