# ========================================================================================
# 2m_notebook_7
# ========================================================================================

Считайте данные из Google Sheets, которые находятся по этой ссылке при помощи библиотеки requests. Посчитайте процент мужчин среди всех посетителей сайта, округлите ответ до целых.  
Воспользуйтесь этим кодом, чтобы перевести данные из реквеста в пандас
from io import BytesIO  
import requests  
req = requests.get(your_link)  
data = req.content  
df = pd.read_csv(BytesIO(data))

In [8]:
import pandas as pd
import numpy as np
import requests
from io import BytesIO
from urllib.parse import urlencode

In [3]:
url = 'https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv'
req = requests.get(url)
data = req.content
df = pd.read_csv(BytesIO(data))

In [6]:
df.head()

         date         gender  users  percent
0  2020-06-14  Not specified    150     52.0
1  2020-06-14           male    117     41.0
2  2020-06-14         female     21      7.0

In [5]:
df['percent'] = (df.users / df.users.sum() * 100).round(0)

Скачайте файл с данными посещаемости сайта Яндекс.Метрика отсюда (сохранен в переменную df). При помощи функции np.where создайте серию, в которую будет записываться 1, если посещения были сделаны роботами с браузера, содержащего Chrome в названии, и 0 в других случаях. Поместите получившуюся серию в переменную chrome_robots.  
Может понадобиться:  
•	str.contains()

In [ ]:
chrome_robots = pd.Series(np.where((df.browser.str.contains('Chrome')) & (df.user.type == 'Robots'), 1, 0))

У вас есть датасет с данными о кликах и показах по объявлению, в котором есть пропуски. Вычислите количество строк без пропусков в колонке click_type. Запишите ответ в переменную not_nan_count  
•	ad_id – id объявления  
•	user_id – id пользователя  
•	click_type – тип клика (клик по заголовку объявления, клик по центру)

In [10]:
df = pd.read_csv(r'F:\!PR\Simulation\data\7_sample_ads.csv')

In [11]:
df.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

Мой код:

In [12]:
df['click_type'].count()

np.int64(11)

Код из ответов:

In [13]:
df.click_type.notna().sum()

np.int64(11)

В списке lst находятся различные элементы. Создайте список new_list и сделайте следующее:  
•	при помощи конструкции try except и цикла попробуйте преобразовать каждое значение в листе в int  
•	если это получилось – добавьте преобразованное значение  в список new_list

In [ ]:
lst = [1, 'lol', '88005553535', '42.0', 295, -0.5, None]

In [34]:
new_list = []
for i in lst:
    try:
        if i is None:
            continue
        n = int(float(i))
        new_list.append(n)
    except (ValueError, TypeError):
        pass

А теперь попробуем воспользоваться знаниями использования Telegram API. Отправьте себе в личку любое послание, а в ответ к этому шагу напишите ник бота, от имени которого будете отправлять сообщения.

In [ ]:
token = ''
chat_id = 1746851995
message = 'wake up'
params = {'chat_id': chat_id, 'text': message}
base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)
resp = requests.get(url)