# ========================================================================================
# 2m_project_2
# ========================================================================================

Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

In [1]:
import pandas as pd

In [2]:
path_to_file = r'F:\!PR\Simulation\data\bookings.csv'

In [ ]:
path_to_file = r'C:\Simulation\data\2_bookings.csv'

In [4]:
bookings = pd.read_csv(path_to_file, encoding='Windows-1251', sep=';')

In [9]:
bookings.head(7)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

Посмотрите на размеры таблицы. Сколько всего в ней столбцов?

In [14]:
rows, cols = bookings.shape
print(f'{rows = }, {cols = }')

rows = 119390, cols = 21

К какому типу/каким типам относится большинство переменных?

In [15]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [16]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания.

In [6]:
bookings.columns = [col.lower().replace(' ', '_') for col in bookings.columns]

In [8]:
bookings = bookings.rename(columns=lambda col: col.lower().replace(' ', '_'))

Перейдем к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

In [18]:
bookings.query('is_canceled == 0') \
    .groupby(['country']) \
    .agg({'is_canceled': 'count'}) \
    .sort_values('is_canceled', ascending=False) \
    .head()

         is_canceled
country
PRT            21071
GBR             9676
FRA             8481
ESP             6391
DEU             6069

In [19]:
bookings.loc[bookings.arrival_date_year == 2016] \
    .country \
    .value_counts() \
    .head()

country
PRT    22321
GBR     5585
FRA     5165
ESP     4024
DEU     3865
Name: count, dtype: int64

На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

In [11]:
bookings.loc[bookings.hotel.isin(['Resort Hotel', 'City Hotel'])] \
    .groupby('hotel') \
    .stays_total_nights \
    .mean() \
    .round(2)

hotel
City Hotel      2.98
Resort Hotel    4.32
Name: stays_total_nights, dtype: float64

In [ ]:
"""
df.query("<условие>")
      .groupby("<группировка>")
      .agg(new_name=("col", "func"))
"""

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [12]:
len(bookings.loc[bookings.assigned_room_type != bookings.reserved_room_type])

14917

Теперь проанализируйте даты запланированного прибытия (arrival_date_year). На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [13]:
bookings.loc[bookings.arrival_date_year == 2016] \
    .arrival_date_month \
    .value_counts() \
    .idxmax()

'October'

In [14]:
bookings.groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

In [27]:
bookings.loc[bookings.hotel == 'City Hotel']\
    .groupby(['arrival_date_year', 'arrival_date_month'], as_index=False)\
    .is_canceled.sum()

    arrival_date_year arrival_date_month  is_canceled
0                2015             August         1232
1                2015           December          668
2                2015               July          939
3                2015           November          301
4                2015            October         1321
5                2015          September         1543
6                2016              April         1539
7                2016             August         1247
8                2016           December         1072
9                2016           February          930
10               2016            January          438
11               2016               July         1043
12               2016               June         1720
13               2016              March         1108
14               2016                May         1436
15               2016           November         1360
16               2016            October         1947
17               2016          September         1567
18               2017              April         1926
19               2017             August         1123
20               2017           February          971
21               2017            January         1044
22               2017               July         1324
23               2017               June         1808
24               2017              March         1278
25               2017                May         2217

In [24]:
bookings.groupby(['arrival_date_year', 'arrival_date_month'])\
    .is_canceled\
    .sum()\
    .groupby(['arrival_date_year'])\
    .nlargest(1)

arrival_date_year  arrival_date_year  arrival_date_month
2015               2015               September             2094
2016               2016               October               2514
2017               2017               May                   2762
Name: is_canceled, dtype: int64

Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [28]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?
•	City hotel – отель находится в городе
•	Resort hotel – отель курортный
В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

In [10]:
bookings['total_kids'] = bookings['children'] + bookings['babies']
bookings.groupby('hotel').total_kids.mean().nlargest(1).round(2)

hotel
Resort Hotel    0.14
Name: total_kids, dtype: float64

Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!
Создайте колонку has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше. 
В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [12]:
bookings['has_kids'] = bookings['total_kids'] > 0
(bookings[['has_kids', 'is_canceled']].value_counts() / bookings[['has_kids']].value_counts() * 100).round(2).reset_index()

   has_kids  is_canceled  count
0     False            0  62.78
1     False            1  37.22
2      True            0  65.08
3      True            1  34.92